@import "~bootstrap/scss/bootstrap";

body {
    width: 100vw;
    height: 100vh;
}

header {
    .ms_container {
        background-color: white;
        padding: 1rem 10rem;
        .searchbar {
            width: 50%;
            border: none;
            border-bottom: 2px solid #0282f9;
        }
    }
}

.main_index {
    .image_100vw {
        width: 100vw;
        height: 350px;
        background-image: url(../images/jumbotron.jpg);
        background-size: cover;
    }

    .inner_index {
        background-color: #1c1c1c;
        padding: 0 10rem;

        .content-title {
            span {
                background-color: #0282f9;
                padding: 1rem;
                color: white;
                font-weight: bold;
            }
        }

        .ms_card {
            width: calc(100% / 6);
            padding: 1rem;
            img {
                aspect-ratio: 1;
                width: 100%;
            }

            span {
                font-size: 15px;
                font-weight: bold;
                color: white;
            }
        }
        .load {
            text-align: center;
            padding: 2rem;

            button {
                padding: 0.6rem 3rem;
                background-color: #0282f9;
                border: none;
                color: white;
                font-weight: bold;
            }
        }
    }
    .shop_section {
        background-color: #0282f9;
        padding: 2rem 12rem;

        .buy_img {
            img {
                height: 60px;
            }
        }
        .buy_title {
            color: white;
            font-size: 15px;
        }
    }
}

footer {
    padding: 3rem;
    background-color: green;
}
